@page "/"
@using TestModels;
@using Test.Services;
@inject IEmployeeServices EmpServices;
@using Microsoft.Extensions.Configuration
@using System.Data.SqlClient

<h1>Employee List</h1>

<MudTable Items="@empList" Hover="true">
	<HeaderContent>
		<MudTh>EID</MudTh>
		<MudTh>Name</MudTh>
		<MudTh>Title</MudTh>
		<MudTh>Task</MudTh>
	</HeaderContent>
	<RowTemplate>
		<MudTd DataLabel="EID">@context.EID</MudTd>
		<MudTd DataLabel="Name">@context.EID</MudTd>
		<MudTd DataLabel="Title">@context.EID</MudTd>
		<MudTd DataLabel="Task">@context.EID</MudTd>
	</RowTemplate>
</MudTable>

@code{
	private List<Employee> empList = new List<Employee>();

	protected override async Task OnInitializedAsync()
	{
		await GetEmployee();
	}

	private async Task GetEmployee()
	{
		empList = await EmpServices.getEmployee();
	}
}
